# Copy this file to .env and update the backend port if needed.
VITE_API_ORIGIN=http://localhost:8090
VITE_API_BASE_URL=http://localhost:8090/api
VITE_GOOGLE_CLIENT_ID=730567914436-gosvf2jho38fh173a7hrin2kshfvb8fg.apps.googleusercontent.com